h1 {
    color: blue;
    text-align: center;
}
p {
   color: gray;
}
/* div {
    background-color:teal;
    width: 100px;
    height: 400px;
    margin: 30px;
    padding: 20px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 20px dotted blue;
} */
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: lightgray;
}
#top {
    font-size: 36px;
}
#middle {
    font-size: 24px;
}
.name {
    font-weight: bold;
}
/* Immediate child selector*/
ol > li { 
    color: red;
}
/* All Descendents selector
ol li { 
    color: red;
}
*/